{% extends "base.html" %}
{% block content %}

      
    <h1 class="row mt-5 display-4">
        <div class="container text-center">
            <br>{{ _('Task completed!') }}</h1>
            <br>
        </div>
    <div class="container text-center lead">
    <p>{{ _('You have completed the rating task. Thank you for your participation.') }}</p>
    </div>    
    <p>
    <div class="container text-center">
         <a class="btn btn-primary" href="/" role="button">{{ _('Return Home') }}</a>
    </div>


{% endblock %}