{% extends "base.html" %}
{% block content %}
      
<h1 class="container mt-5 display-4"><br>How to prepare your stimuli before uploading:</h1>
<br>

<h4 class="">How to split audiofiles into sections:</h4>

<p class="">Audio segmentation is easy to do with eg. <a href="https://www.nch.com.au/wavepad/index.html">WavePad</a> ..... </p>


<h4 class="">Supported videoformats and how to convert videos before upload:</h4>

<p class="">Info on how to use <a href="https://www.videolan.org/vlc/">VLC-player</a> conversion tool to convert files to WebM-format..... </p>

{% endblock %}



